.container {
  margin-top: 1rem;
  padding: 0.6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40rem;
  border: 1px solid #d9dfe6;
  border-radius: 0.5rem;
  margin-bottom: 0.6rem;
  transition: 0.5s;
  -webkit-box-shadow: 6px 8px 14px -3px rgb(206, 206, 206);
  box-shadow: 6px 8px 14px -3px rgb(206, 206, 206);
}

.info-container {
  width: 65%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.button-container {
  width: 35%;
  padding: 0rem 0.6rem 0rem 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
